@import "../../responsive.scss";

.searchBar {
  .type {
    button {
      padding: 16px 36px;
      border: 1px solid #999;
      border-bottom: none;
      cursor: pointer;
      background-color: white;
      text-transform: capitalize;

      &.active {
        background-color: black;
        color: white;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-right: none;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-left: none;
      }
    }
  }

  form {
    border: 1px solid #999;
    display: flex;
    justify-content: space-between;
    height: 64px;
    gap: 5px;

    @include sm {
      flex-direction: column;
      border: none;
    }

    .locationContainer {
      position: relative;

      input {
        border: none;
        padding: 0px 10px;
        width: 200px;
        height: 100%;

        @include lg {
          width: 220px;
          padding: 20px;
          border: 1px solid #999;
        }

        @include md {
          width: 200px;
        }
        @include sm {
          width: 100%;
        }
      }

      .queryDisplay {
        border: none;
        padding: 0px 10px;
        width: 200px;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 13px;
        color: #777777;
        font-family: "Lato", sans-serif;
        cursor: text;
        z-index: 999;

        @include lg {
          width: 220px;
          padding: 20px;
          border: 1px solid #999;
        }

        @include md {
          width: 200px;
        }
        @include sm {
          width: 100%;
        }
      }

      .selectedTypingItems {
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 200px;
        overflow-y: scroll;
        border: solid 1px lightgray;
        background-color: white;
        border-radius: 2px;
        padding: 10px;

        .typingItem {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          input {
            width: 15px;
            height: 15px;
          }

          span {
            font-size: 16px;
            font-weight: 600;
          }

          &:hover {
            color: rgb(107, 106, 106);
          }
        }
      }
    }

    input {
      border: none;
      padding: 0px 10px;
      width: 200px;

      @include lg {
        padding: 0px 5px;

        &:nth-child(2),
        &:nth-child(3) {
          width: 100px;
        }
      }

      @include md {
        width: 200px;
        &:nth-child(2),
        &:nth-child(3) {
          width: 200px;
        }
      }

      @include sm {
        width: auto;
        &:nth-child(2),
        &:nth-child(3) {
          width: auto;
        }
        padding: 20px;
        border: 1px solid #999;
      }
    }

    a {
      flex: 1;
      background-color: #fece51;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        border: none;
        cursor: pointer;
        background-color: #fece51;

        @include sm {
          padding: 10px;
        }

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
